# Likes Report

## Erica Hewitt

### 9/21/2021

In this report I have downloaded my personal data from Instagram. While I downloaded my data I did not collect it, but who did? In this case Instagram collected this data, I don't know how they collect this data but I would have to assume they do so with some sort of algorithm. They collect our data so that they can receive all the information they can about us and tailor our experience to our interests. Such as the posts we like, the pages we follow, and the amount of time we spend on a page. Collecting this data allows us to understand what kind of information we unwillingly give to Instagram. This data can be reliable because it shows us what we actually did, theres no way to stem from the fact that we liked these posts. On the other hand it can be unreliable in a sense that at anytime someone else could've been on my account and liked something or followed someone when I myself actually did do it. Overall, I think its important for everyone to understand what kind of data Instagram collects and know how to comprehend it.

In [47]:
import pandas as pd
import json
import matplotlib as plt

In [48]:
with open(r'C:\Users\erica\Downloads\erica.hewitt_20210902\likes\liked_posts.json') as p:
    likes = json.load(p)

Here I am importing my liked posts file from my Instagram data that I downloaded

In [49]:
likes.keys()

dict_keys(['likes_media_likes'])

Here I am seeing what keys are in my file so that I can figure out what I want to use but I only have one called 'likes_media_likes'

In [50]:
likes['likes_media_likes'][2]

{'title': 'experts',
 'media_list_data': [],
 'string_list_data': [{'href': 'https://www.instagram.com/p/UXBRXAA9yH/',
   'value': 'ð\x9f\x91\x8d',
   'timestamp': 1357942474}]}

I am trying to see what is is my dictonary. I have multiple things stored in here such as the title, media list data, and string list data which has another list inside of it.

In [51]:
df_likes = pd.DataFrame(likes['likes_media_likes'])

Now I'm converting it into a data frame

In [52]:
df_likes

,title,media_list_data,string_list_data
0,taaylorrrrrr,[],[{'href': 'https://www.instagram.com/p/UW3muIk...
1,taaylorrrrrr,[],[{'href': 'https://www.instagram.com/p/UW5K2Kk...
2,experts,[],[{'href': 'https://www.instagram.com/p/UXBRXAA...
3,jillvertes,[],[{'href': 'https://www.instagram.com/p/UXBZD5k...
4,taaylorrrrrr,[],[{'href': 'https://www.instagram.com/p/UV9m96k...
...,...,...,...
30899,_kileyb,[],[{'href': 'https://www.instagram.com/p/CHbtQzF...
30900,imjakejohnston,[],[{'href': 'https://www.instagram.com/p/CHbTVvI...
30901,justine.pelka,[],[{'href': 'https://www.instagram.com/p/CHbZIRY...
30902,tinawoodsss,[],[{'href': 'https://www.instagram.com/p/CHYsy2W...
30903,indyblue_,[],[{'href': 'https://www.instagram.com/p/CHYi0sv...

This is the output of my data frame, visualized, with over 30,000 rows of data

In [55]:
string_list_data = [x['string_list_data'][0]for x in likes['likes_media_likes']]

I am now using list comprehension to pull the information out of string list data

In [56]:
type(string_list_data)

list

In [57]:
type(likes['likes_media_likes'])

list

Determining what type of data I am working with

In [58]:
string_list_data[3]

{'href': 'https://www.instagram.com/p/UXBZD5k0Tn/',
 'value': 'ð\x9f\x91\x8d',
 'timestamp': 1357942468}

Looking at whats stored in the 3rd element of string list data

In [59]:
timestamp = [x for x in string_list_data]

Making timestamp a list

In [ ]:
timestamp

In [61]:
df_timestamp = pd.DataFrame(timestamp)

In [62]:
df_timestamp

                                                    href value   timestamp
0                https://www.instagram.com/p/UW3muIkv5I/  ð  1357942581
1                https://www.instagram.com/p/UW5K2Kkv6u/  ð  1357942558
2                https://www.instagram.com/p/UXBRXAA9yH/  ð  1357942474
3                https://www.instagram.com/p/UXBZD5k0Tn/  ð  1357942468
4                https://www.instagram.com/p/UV9m96kv5N/  ð  1357936387
...                                                  ...   ...         ...
30899           https://www.instagram.com/p/CHbtQzFpPSU/  ð  1605060353
30900           https://www.instagram.com/p/CHbTVvInO4N/  ð  1605050156
30901  https://www.instagram.com/p/CHbZIRYptl2DNGdShK...  ð  1605050152
30902           https://www.instagram.com/p/CHYsy2Wsjj-/  ð  1604966422
30903           https://www.instagram.com/p/CHYi0svF-CL/  ð  1604955211

[30904 rows x 3 columns]

Above I am making timestamp into a readable data frame

In [64]:
df_timestamp['title'] = df_likes['title']

Now I am add the title from the original data frame df_likes into the new one df_timestamp so I can see what the accounts are that I am liking.

In [65]:
df_timestamp

,href,value,timestamp,title
0,https://www.instagram.com/p/UW3muIkv5I/,ð,1357942581,taaylorrrrrr
1,https://www.instagram.com/p/UW5K2Kkv6u/,ð,1357942558,taaylorrrrrr
2,https://www.instagram.com/p/UXBRXAA9yH/,ð,1357942474,experts
3,https://www.instagram.com/p/UXBZD5k0Tn/,ð,1357942468,jillvertes
4,https://www.instagram.com/p/UV9m96kv5N/,ð,1357936387,taaylorrrrrr
...,...,...,...,...
30899,https://www.instagram.com/p/CHbtQzFpPSU/,ð,1605060353,_kileyb
30900,https://www.instagram.com/p/CHbTVvInO4N/,ð,1605050156,imjakejohnston
30901,https://www.instagram.com/p/CHbZIRYptl2DNGdShK...,ð,1605050152,justine.pelka
30902,https://www.instagram.com/p/CHYsy2Wsjj-/,ð,1604966422,tinawoodsss
30903,https://www.instagram.com/p/CHYi0svF-CL/,ð,1604955211,indyblue_

In [72]:
df_timestamp.groupby(['title']).count().sort_values('value', ascending = False)

                              href  value  timestamp
title
dirtydaddies                   717    717        717
acaciakersey                   601    601        601
ohkaychris                     563    563        563
humansofny                     546    546        546
twentyonepilots                528    528        528
...                            ...    ...        ...
haleighh_b                       1      1          1
haleyrjones                      1      1          1
hanahayes_                       1      1          1
randyjackson                     1      1          1
1.61803398874989484820458683     1      1          1

[1079 rows x 3 columns]

Finally, above i am grouping everything by the title and counting them from the highest value (number of posts liked) down to the lowest value.

### My Hypothesis

My hypothesis is that my most liked accounts would be my families accounts such as my siblings and cousins. Initially I thought that this seemed like a fairly correct hypothesis, I am always liking their posts. As you can see above my hypothesis was wrong. The accounts that I had the most liked posts were accounts that I don't even interact with anymore, which is what shocked me the most. My statistical hypothesis is that 50% of posts that I liked that are over 100 posts are accounts that are not from my families accounts. While right now I don't have a definite answer to this hypothesis I would guess that it is accurate based on the data that I have above. I think the idea data sets to use to test my hypothesis is this data set along with comments. I think both of these data sets together would more accurately show which posts I interact with the most. Overall, I think this data set was good to start with but combining the comments, likes, followers and following would provide a more clear answer.