In [2]:
import requests
import pandas as pd
import urllib
import json

In [3]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 522F-8D44

 Directory of C:\Users\erica\DataInEMAT

10/20/2021  09:14 PM    <DIR>          .
10/20/2021  09:14 PM    <DIR>          ..
10/20/2021  08:46 PM    <DIR>          .ipynb_checkpoints
10/20/2021  09:14 PM             9,492 assignment2.ipynb
08/31/2021  04:57 PM             1,311 Aug31_practice.ipynb
10/12/2021  04:37 PM               126 bearer_token.txt
10/19/2021  04:31 PM           280,487 beautifulSoup_10_19.ipynb
09/30/2021  04:42 PM             1,623 bls_data.csv
10/07/2021  10:20 AM    <DIR>          chinook
10/07/2021  04:32 PM                 0 chinook.db
10/07/2021  10:20 AM           305,596 chinook.zip
09/21/2021  04:28 PM            92,455 class9_21.ipynb
10/07/2021  07:23 PM                72 EmmyTalk.ipynb
09/02/2021  05:29 PM             3,218 Hewitt_SystemsCheck.ipynb
09/30/2021  04:53 PM             2,801 in_class_9_30.ipynb
09/07/2021  04:59 PM             8,966 In_class_sept_7.ipynb
09/14/2021  04:44 PM            76,891 inclass_9_14.ipynb
09/09/2021  04:48 PM            20,237 InClass9_9_21.ipynb
09/21/2021  08:39 PM            28,748 Likes_Report.ipynb
09/30/2021  03:49 PM            29,044 spotify_API_inclass.ipynb
09/30/2021  04:20 PM            26,557 spotify_API_inclass-9-30.ipynb
09/23/2021  04:24 PM                90 spotify_keys.txt
10/07/2021  04:53 PM            25,549 SQL_10_7.ipynb
10/20/2021  07:50 PM             2,911 twitter_data.csv
10/20/2021  08:46 PM            97,844 Twitter_text_report.ipynb
10/19/2021  03:50 PM            31,367 TwitterAPI.ipynb
              22 File(s)      1,045,385 bytes
               4 Dir(s)   9,917,034,496 bytes free

In [4]:
bearer_token = pd.read_csv('bearer_token.txt', header = 0)

In [ ]:
bearer_token

In [ ]:
bearer_token['bearer_token'].iloc[0]

In [7]:
header = {'Authorization' : 'Bearer {}'.format(bearer_token['bearer_token'].iloc[0])}

In [8]:
bearer_token.keys()

Index(['bearer_token'], dtype='object')

In [24]:
response = requests.request("GET", url, headers = header)

Here I am getting my URL

In [10]:
endpoint_url = 'https://api.twitter.com/2/tweets/search/recent'

In [14]:
query = urllib.parse.quote('(#Emmys OR @TheEmmys OR #Tedlasso lang:en)')

Here I am querying the hashtag 'Emmys', the tagging of the Emmys twitter page, and the show Ted Lasso all in the english language

In [15]:
query

'%28%23Emmys%20OR%20%40TheEmmys%20OR%20%23Tedlasso%20lang%3Aen%29'

This is what my query looks like

In [16]:
my_api_url = endpoint_url + '?query={}'.format(query)

In [17]:
my_api_url

'https://api.twitter.com/2/tweets/search/recent?query=%28%23Emmys%20OR%20%40TheEmmys%20OR%20%23Tedlasso%20lang%3Aen%29'

Here I am joining my URL and query into one cohesive URL

In [76]:
tweet_fields = 'public_metrics,created_at,author_id,lang,source'

The variable tweet_fields I am getting the parameters that i want to get from the tweets. I also added the source of how the tweet was published

In [77]:
my_api_url = endpoint_url + '?query={}&tweet.fields={}'.format(query, tweet_fields)

In [78]:
my_api_url

'https://api.twitter.com/2/tweets/search/recent?query=%28%23Emmys%20OR%20%40TheEmmys%20OR%20%23Tedlasso%20lang%3Aen%29&tweet.fields=public_metrics,created_at,author_id,lang,source'

Here I am adding the tweet fields to the end of the URL so I can receive the tweets with all the specified parameters

In [79]:
expansions = 'author_id'

In [80]:
url = endpoint_url + '?query={}&max_results=10&tweet.fields{}'.format(query, tweet_fields)

In [81]:
url_expansions = endpoint_url + '?query={}&max_results=100&tweet.fields={}&expansions={}&user.fields={}'.format(query, tweet_fields, expansions, 'username')

In [82]:
url_expansions

'https://api.twitter.com/2/tweets/search/recent?query=%28%23Emmys%20OR%20%40TheEmmys%20OR%20%23Tedlasso%20lang%3Aen%29&max_results=100&tweet.fields=public_metrics,created_at,author_id,lang,source&expansions=author_id&user.fields=username'

Here I am adding the expansion author_id so I can get the username of the person who published the tweet

In [83]:
url

'https://api.twitter.com/2/tweets/search/recent?query=%28%23Emmys%20OR%20%40TheEmmys%20OR%20%23Tedlasso%20lang%3Aen%29&max_results=10&tweet.fieldspublic_metrics,created_at,author_id,lang,source'

In [84]:
response_1 = requests.request("GET", url_expansions, headers = header)

In [ ]:
response_1.text

This is where I actually pull all the data with all of my specified parameters

In [86]:
response_1_dict = json.loads(response_1.text)

Then I make it into a dictionary so I can then put it in a data frame as seen below

In [87]:
response_1_dict.keys()

dict_keys(['data', 'includes', 'meta'])

In [88]:
my_df = pd.DataFrame(response_1_dict['data'])

In [89]:
my_df

,text,created_at,public_metrics,source,author_id,lang,id
0,REBECCA AND SAM? WHATTTT #TedLasso,2021-10-21T01:30:34.000Z,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",Twitter for iPhone,369464326,en,1450997911479730179
1,finally started #TedLasso &amp; don’t wanna stop…,2021-10-21T01:30:25.000Z,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",Twitter for iPhone,95271750,en,1450997872359579654
2,RT @EdmundHanlon: I dressed my dog up as Trent...,2021-10-21T01:30:04.000Z,"{'retweet_count': 302, 'reply_count': 0, 'like...",Twitter for iPhone,448428384,en,1450997783108849665
3,"RT @TheTrentCrimm: - @TheTrentCrimm, Independe...",2021-10-21T01:29:54.000Z,"{'retweet_count': 3, 'reply_count': 0, 'like_c...",Twitter for iPad,1428538707217317892,en,1450997740670885893
4,Is #TedLasso on Cameo?? @jasonsudeikis ?? I wa...,2021-10-21T01:29:48.000Z,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",Twitter for iPhone,511127673,en,1450997717468164102
...,...,...,...,...,...,...,...
95,f1 RT leighlew3: Any time I need a pick me up ...,2021-10-21T00:43:29.000Z,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",Microsoft Power Platform,890676920869847040,en,1450986058724880384
96,RT @leighlew3: Any time I need a pick me up I ...,2021-10-21T00:43:27.000Z,"{'retweet_count': 3, 'reply_count': 0, 'like_c...",Twitter for iPhone,836732671,en,1450986053666369539
97,RT @EdmundHanlon: I dressed my dog up as Trent...,2021-10-21T00:42:04.000Z,"{'retweet_count': 302, 'reply_count': 0, 'like...",Twitter for iPhone,701523204,en,1450985704381689860
98,RT @QUEERLASSO: #tedlasso this is so dumb but ...,2021-10-21T00:41:49.000Z,"{'retweet_count': 20, 'reply_count': 0, 'like_...",Twitter for iPhone,929795454761447424,en,1450985642981314560
99,RT @Darveyinbed: This cast is too hot to handl...,2021-10-21T00:39:50.000Z,"{'retweet_count': 89, 'reply_count': 0, 'like_...",Twitter for iPhone,1139352278010335233,en,1450985143368404992

In [31]:
my_df.to_csv("twitter_data.csv")

In [90]:
response_1_dict['meta']

{'newest_id': '1450997911479730179',
 'oldest_id': '1450985143368404992',
 'result_count': 100,
 'next_token': 'b26v89c19zqg8o3fpdv5st5ah9x1pblzhtnu5gq3jdmkd'}

In [91]:
url_2 = url_expansions + '&next_token={}'.format(response_1_dict['meta']['next_token'])

In [92]:
url_2

'https://api.twitter.com/2/tweets/search/recent?query=%28%23Emmys%20OR%20%40TheEmmys%20OR%20%23Tedlasso%20lang%3Aen%29&max_results=100&tweet.fields=public_metrics,created_at,author_id,lang,source&expansions=author_id&user.fields=username&next_token=b26v89c19zqg8o3fpdv5st5ah9x1pblzhtnu5gq3jdmkd'

Putting together the next set of tweets with the first URL

In [93]:
response_2 = requests.request("GET", url_2, headers = header)

In [ ]:
response_2.text

In [94]:
response_2_dict = json.loads(response_2.text)

With the data I received I put it into a dictionary so i can put it all together in a data frame as seen below

In [95]:
response_2_dict.keys()

dict_keys(['data', 'includes', 'meta'])

In [96]:
my_df2 = my_df2.append(pd.DataFrame(response_2_dict['data']), ignore_index = True)

In [98]:
my_df2

,author_id,public_metrics,id,text,created_at,lang,in_reply_to_user_id,source
0,62222668,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1450971088129859584,I've just updated my webpage with some great a...,2021-10-20T23:43:59.000Z,en,NaN,NaN
1,1431149377368756225,"{'retweet_count': 5, 'reply_count': 0, 'like_c...",1450970999298695169,RT @mashable: It's no surprise that the Ted La...,2021-10-20T23:43:38.000Z,en,NaN,NaN
2,32497577,"{'retweet_count': 286, 'reply_count': 0, 'like...",1450970813306261504,RT @EdmundHanlon: I dressed my dog up as Trent...,2021-10-20T23:42:54.000Z,en,NaN,NaN
3,1310884582607081472,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",1450969949334163457,"What's one photo, that as soon as you see it, ...",2021-10-20T23:39:28.000Z,en,NaN,NaN
4,1188541742208966656,"{'retweet_count': 17, 'reply_count': 0, 'like_...",1450969852559114241,RT @darthphvenix: #ROYKENT: Well… I’m fucking ...,2021-10-20T23:39:05.000Z,en,NaN,NaN
...,...,...,...,...,...,...,...,...
391,2847264160,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1450960043646590978,The @premierleague agreed to a #licensing deal...,2021-10-20T23:00:06.000Z,en,NaN,Sprout Social
392,1291387802429661184,"{'retweet_count': 52, 'reply_count': 0, 'like_...",1450959888000167938,RT @sarmiesisters: The whole set of the #TedLa...,2021-10-20T22:59:29.000Z,en,NaN,Twitter Web App
393,1406769609592684544,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",1450959772606402561,Roy: Why are you bothering me at my kebab plac...,2021-10-20T22:59:01.000Z,en,NaN,Twitter
394,2835184986,"{'retweet_count': 11, 'reply_count': 0, 'like_...",1450959333731160069,RT @VMinuz: @CraigJo80374965 @MelvinEmory @atk...,2021-10-20T22:57:17.000Z,en,NaN,Twitter for Android
395,1438996253879279619,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1450959276021882883,Solid day on the pitch for the lads with a com...,2021-10-20T22:57:03.000Z,en,NaN,Twitter Web App

In [112]:
my_df2.to_csv("twitter_text_report.csv")

Then convert it into a CSV file

In [108]:
user_info = pd.DataFrame(response_2_dict['includes']['users'])

In [109]:
user_info

                     id                                name         username
0   1007202803238998016                             Aoife ✨         AoifeOC_
1              23072774                   Girls in the Game   GirlsintheGame
2              27736656  Linn 🦩just a cucumber with anxiety     theroomstops
3   1084175030953611264                    Women Coders Bot   WomenCodersBot
4   1220488517568159745                           Capital E  capitaleadvisor
..                  ...                                 ...              ...
78            907094790                  too tired for this   Thot_Repellent
79             45743047                       Erin Leonetti     ErinLeonetti
80           2847264160                     Unrivaled Group   UnrivaledGroup
81           2835184986                                ヤ サカ        H17Hhh777
82  1438996253879279619                            NYC Betz          NycBetz

[83 rows x 3 columns]

Here I got the name and username but I could not figure out how to put this data frame and my_df2 into one cohesive data frame. When i did manage to put them together there was a lot of NaN fields, which I think its because the data does not match.

# My hypothesis

I educated that tweets that mention the Emmys or Ted lasso had lots of engagements because it was the winner for best comedy at the Emmys. Most of the tweets that mention either of them have a decent amount of engagements, this could be a factor in the reasoning why it won over the other nominees. Some set backs that I encountered along the way with this data were, weighing in the factors of negative vs positive tweets mentioning Ted Lasso, determining if the accounts are real vs bots, and comparing it to the other nominees. These setbacks I hope to include in the future so i can get a more definitive answer to the question if engagements of a nominated TV show influence the winner of the category.